name: CI Build

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Maven Settings
        uses: s4u/maven-settings-action@v2.8.0
        with:
          servers: |
            [{
              "id": "github",
              "username": "aj8gh",
              "password": "${GITHUB_TOKEN_REF}"
            }]
          githubServer: false

      - name: Build with Maven
        run: mvn -B package
        env:
          GITHUB_TOKEN_REF: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2.8.1
        with:
          jacoco-csv-file: coverage/target/site/jacoco-aggregate/jacoco.csv
          generate-branches-badge: true

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Commit and push coverage badge if changed
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Autogenerate coverage badges
